<a href="https://colab.research.google.com/github/hirochan565G/training_algorithm/blob/main/algo_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 10進数と2進数の変換
n = 18

def convert(n, base):
  # baseは基数
  result = ''  # これがoutput

  while n > 0:
    # nが0より小さくなるまで続ける
    result = str(n % base) + result # 余りは左側に追加していく
    # 2で割っていく
    n //= base

  return result

print(convert(n, 2))
print(convert(n, 3))
print(convert(n, 8))

10010
200
22

In [19]:
n = '10010' # string

result = 0 # int
for i in range(len(n)):
  # 5文字だから5回のループ
  result += int(n[i]) * (2 ** (len(n) - i -1)) # 一周目はi=0, n[i=0]='1', len(n)=5
  print(f'i:{i}')
  print(n[i])
  print(len(n))
  print(f'途中経過:{result}')
  print('=====')

print('結果:{}'.format(result))

i:0
1
5
途中経過:16
=====
i:1
0
5
途中経過:16
=====
i:2
0
5
途中経過:16
=====
i:3
1
5
途中経過:18
=====
i:4
0
5
途中経過:18
=====
結果:18

In [20]:
a = 18
print(bin(a))

0b10010

In [21]:
b = '10010'
print(int(b, 2)) # 2進数を10進数にキャスト

18

In [22]:
a = 0b10010 # 0bをつける整数になる
print(a)

18

In [39]:
c = 0b1010
d = 0b1100
print(f'c:{c}')
print(f'd:{d}')
print(type(c))

# ビット演算
print(bin(~c)) # NOT
print(bin(c & d)) # AND
print(bin(c | d)) # OR
print(bin(c ^ d)) # XOR
print(bin(c << 1)) # shift left
print(bin(d>>2)) # shift right

c:10
d:12
<class 'int'>
-0b1011
0b1000
0b1110
0b110
0b10100
0b11

In [34]:
a = 0b10010
print(bin(~a))

-0b10011